.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  background-color: #f0ede8;
}

.formContainer {
  width: 100%;
  max-width: 550px;
  padding: 50px 70px;
  background-color: #fbf9f6;
  border: 1px solid #e0dace;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #333;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form > div {
  margin-bottom: 10px;
}

.form button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #ffffff;
  color: #4c4b40;
  border: 1px solid #e0dace;
}
.form button:hover {
  background-color: #f7f7f7;
  border-color: #ccc;
}
