.headerWrapper {
  background-color: #fffceb;
  padding: 15px 0;
  width: 100%;
  box-sizing: border-box;
}

.header {
  background-color: #c3c4b9;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5em;
  color: #333;
  text-decoration: none;
}

.navigation {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: all 0.2s ease;
  padding: 5px 10px;
  border-radius: 20px;
}

.activeLink {
  font-weight: 700 !important;
}

.navigation a:hover {
  color: #333;
  background-color: rgba(0, 0, 0, 0.05);
}

.authButtons {
  display: flex;
  gap: 10px;
}

.authButtons a button {
  border-radius: 50px !important;
  padding: 10px 24px !important;
  font-weight: 600 !important;
}
@media (max-width: 768px) {
  .headerWrapper {
    padding: 10px; 
  }

  .header {
    flex-direction: column; 
    height: auto;
    padding: 20px;
    border-radius: 25px; 
    gap: 20px; 
  }

  .logo {
    letter-spacing: 0.2em; 
    text-align: center;
    font-size: 22px;
  }

  .navigation {
    flex-direction: column; 
    gap: 15px;
    width: 100%;
    align-items: center; 
  }

  .navigation a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px; 
  }

  .authButtons {
    flex-direction: column; 
    width: 100%;
    gap: 10px;
  }

  .authButtons a {
    width: 100%;
    display: block;
  }

  .authButtons a button {
    width: 100% !important;
    display: block !important;
    text-align: center;
  }
}
