
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px; 
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  user-select: none; 
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #4c4b40; 
  border-color: #4c4b40;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
